{%- extends "base.html" %}


{% import "bootstrap/utils.html" as utils %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block content %}
{% set statuses = stats['builds']['all'].keys() | sort %}

    <div class="container">
    Status
    <table class="table table-striped">
        <tr>
            <th>Runner</th>
            {% for status in statuses %}
            <th>{{status | title}}</th>
            {% endfor %}
        </tr>
        {% for runner in runners %}
        {% if runner in stats['builds'] %}
        <tr>
            <td>{% if runner != 'all' %}<a href="/runners/{{runner}}">{{runner}}</a>{% else %}{{runner}}{% endif %}</td>
            {% for status in statuses %}
            <td>{{stats['builds'].get(runner).get(status, 0)}}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    {% for version in stats['times']['all'] | sort(reverse=True) %}
    Times for {{version}}
    <table class="table table-striped">
        <tr>
            <th>Runner</th>
            <th>Last</th>
            <th>Average</th>
            <th>Minimum</th>
            <th>Maximum</th>
            <th>Total</th>
        </tr>
        {% for runner in runners %}
        {% if runner in stats['times'] and version in stats['times'][runner] %}
        <tr>
            <td>{% if runner != 'all' %}<a href="/runners/{{runner}}">{{runner}}</a>{% else %}{{runner}}{% endif %}</td>
            <td>{% if 'last' in stats['times'][runner][version] %}{{(stats['times'][runner][version]['last'] / 60) | round(2)}} minutes{% endif %}</td>
            <td>{{(stats['times'][runner][version]['avg'] / 60) | round(2)}} minutes</td>
            <td>{{(stats['times'][runner][version]['min'] / 60) | round(2)}} minutes</td>
            <td>{{(stats['times'][runner][version]['max'] / 60) | round(2)}} minutes</td>
            <td>{{(stats['times'][runner][version]['sum'] / 60 / 60 / 24) | round(2)}} days </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endfor %}

    </div>
{% include "footer.html" %}
{% endblock %}
